<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 15px">

# Project 1: Python Coding Exercises



---

The following code challenges are drawn from common exercises used in technical interviews.

Please note that there may be several ways to approach each challenge. If you get stuck, try mapping out your approach in pseudocode first. Finally, while solutions to problems like these may be found online, remember that if you copy/paste code that you can't explain, you'll be missing out on the point of the project. The only way to truly learn a new skill is through practice, trial, and error - we can only help you improve by understanding where you are having trouble.

### Challenge 1: Largest Palindrome
A palindromic number reads the same both ways. For example, 1234321 is a palindrome. The largest palindrome made from the product of two two-digit numbers is 9009 = 91 × 99. Find the largest palindrome made from the product of two three-digit numbers. Afterward, write a brief explanation walking through your code's logic in markdown.

In [1]:
#a variable that turns the sum of two numbers in to a string
number = str(99*91)

#a function that takes an argument (number) and returns number in a reversed order
def isPalindrome(number):
    return number == number[::-1]

#an if condition that will print a confirmation statement if the given number is palindromic
if isPalindrome(number) is True:
    print('Your number is a palindromic number')
else:
    print('Your number is not a palindromic number')

Your number is a palindromic number

I initiated a variable called number.

Then I created a function called isPalindrome() that takes a argument called number.
This function returns a True value if our number variable equates to the reverse of number which is denoted by [::-1].

Once the function has been created, I called upon an if statement where if our function is true, it will print "Your number is a palindromic number'. Otherwise, any other condition (false) will be met with "Your number is not a palindromic number".


### Challenge 2: Summation of Primes
The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17. Find the sum of all the primes below 2,000. Afterward, write a brief explanation walking through your code's logic in markdown.

In [2]:
#a variable assigned to 0, this variable will be used to contain a running total for our code
total = 0

#a for loop that limits the iterations to 2000
for i in range(2000):
    #following statements will only run if variable i is larger than 1
    if i>1:
        #another for loop that starts at 2 and is limited to variable i
        for j in range(2,i):
            #variable j will act as the same number as variable i in order to find modulus 0
            if(i % j==0):
                #if it is mod 0 then this if statement will break (stop)
                break
        #once the if loop above breaks, this else statement will run and allow variable i to be added to total
        else:
            total += i
print(total)

277050

I created a variable called total, a nested for loop and if statement block of code. it can be difficult to understand at first but bear with me.

I generated a range of 2000, i variable will behave as a counter for this for loop.

Within this for loop, if i is greater than 1 then it can proceed with the next nested line which is a for loop.

A variable j is created where starting at a range of 2 to i (which is limited to 2000). Every time this for loop statement loops, it will add i to total unless i modolus j has a remainder of 0.

### Challenge 3: Multiples of 3 and 5
If we list all of the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6, and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 and 5 below 1,000. Afterward, write a brief explanation walking through your code's logic in markdown.

In [3]:
#variable created to hold the sum of multiples of 3 and 5
multipletotal = 0
#for loop that limits the loop to 1000 iterations
for i in range(1000):
    #if and only if variable i modulus 3 and 5 equals 0 then variable i will be added to multipletotal
    if (i % 5 == 0 and i % 3 == 0):
            multipletotal += i
print(multipletotal)

33165

This is a more simpler version of the previous response.

A variable is created and assigned to 0.

Generated is a range of 1000.

if i modulos 5 and 2 equals 0, then add i to variable until you reach the limit (1000).

### Challenge 4: String Compressor
Implement a method to perform basic string compression using the counts of repeated characters. (This is called run-length encoding.) For example, the string "aabcccccaaa" would become a2b1c5a3. If the “compressed” string would not become smaller than the original string, your method should return the original string. You can assume the string has only uppercase and lowercase letters (a–z). Specify whether your solution is case sensitive or case insensitive and what you would need to change to make it the other. Afterward, write a brief explanation walking through your code's logic in markdown.

In [4]:
def compress(string):

    new = ""

    count = 1

    #Adds first character of string to variable new
    new += string[0]

    #loops through the range of the string length minus 1
    for i in range(len(string)-1):
        #if the first letter is the same to the second letter then the count will increase by 1
        if(string[i] == string[i+1]):
            count += 1
        else:
            if(count > 1):
                #the count will be added to the new string as a string
                new += str(count)
            #otherwise, the letter and 1 will be added to the new string
            new += string[i+1]
            #count is reset
            count = 1
    if(count > 1):
        new += str(count)
    return new
compress("aabccccaa")

'a2bc4a2'

### Challenge 5: File Handling

##### Part - 1
Read the file named 'Diabetes.csv' available in the project folder.

In [95]:
import pandas as pd
data = pd.read_csv('./Diabetes.csv')

##### Part - 2
- Check if the value for 'glucose_conc' is less than 100.
- Create a new column named 'prediction'.
- If the glucose_conc level is less than 100 then your prediction for that row will be 0 otherwise 1.

In [106]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   diabetes        767 non-null    object
 1   times_pregnant  767 non-null    object
 2   glucose_conc    767 non-null    object
 3   prediction      767 non-null    int64
 4   diastolic_BP    767 non-null    object
 5   triceps_thk     767 non-null    object
 6   2_hr_insulin    767 non-null    object
 7   bmi             767 non-null    object
 8   pedigree        767 non-null    object
 9   age             767 non-null    object
 10  nan             1 non-null      object
 11  nan             3 non-null      object
 12  nan             3 non-null      object
 13  nan             4 non-null      object
 14  nan             2 non-null      object
 15  nan             2 non-null      object
dtypes: int64(1), object(15)
memory usage: 96.0+ KB

In [97]:
data.head()

,Feature Variable,Feature Variable/Explanatory Variables/Independent Variables,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,D,D,C,C,C,C,C,C,C,NaN,NaN,NaN,NaN,NaN,NaN
1,D,D,C,C,C,C,C,C,C,NaN,NaN,NaN,NaN,NaN,NaN
2,y,"X(x1,x2,x3....x8)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1,85,66,29,0,26.6,0.351,31,Person2,NaN,NaN,NaN,NaN,NaN

In [98]:
data.columns = data.iloc[3]
data.head()

3,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,NaN,NaN,NaN,NaN,NaN,NaN
0,D,D,C,C,C,C,C,C,C,NaN,NaN,NaN,NaN,NaN,NaN
1,D,D,C,C,C,C,C,C,C,NaN,NaN,NaN,NaN,NaN,NaN
2,y,"X(x1,x2,x3....x8)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1,85,66,29,0,26.6,0.351,31,Person2,NaN,NaN,NaN,NaN,NaN

In [99]:
data.insert(3, 'prediction', 0)
data.head()

3,diabetes,times_pregnant,glucose_conc,prediction,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,NaN,NaN,NaN,NaN,NaN,NaN
0,D,D,C,0,C,C,C,C,C,C,NaN,NaN,NaN,NaN,NaN,NaN
1,D,D,C,0,C,C,C,C,C,C,NaN,NaN,NaN,NaN,NaN,NaN
2,y,"X(x1,x2,x3....x8)",NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,diabetes,times_pregnant,glucose_conc,0,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1,85,0,66,29,0,26.6,0.351,31,Person2,NaN,NaN,NaN,NaN,NaN

In [100]:
data.drop(data.index[[0,1,2,3]], inplace=True)
data.reset_index(drop=True, inplace=True)
data.head()

3,diabetes,times_pregnant,glucose_conc,prediction,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,NaN,NaN,NaN,NaN,NaN,NaN
0,0,1,85,0,66,29,0,26.6,0.351,31,Person2,NaN,NaN,NaN,NaN,NaN
1,1,8,183,0,64,0,0,23.3,0.672,32,NaN,NaN,51,NaN,NaN,NaN
2,0,1,89,0,66,23,94,28.1,0.167,21,NaN,Target(y/n),NaN,NaN,NaN,NaN
3,1,0,137,0,40,35,168,43.1,2.288,33,NaN,Y,Supervised,Discrete (Y/N,NaN,NaN
4,0,5,116,0,74,0,0,25.6,0.201,30,NaN,NaN,NaN,NaN,Y,Classification

In [111]:
data["glucose_conc"] = data['glucose_conc'].astype('int')

In [112]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   diabetes        767 non-null    object
 1   times_pregnant  767 non-null    object
 2   glucose_conc    767 non-null    int64
 3   prediction      767 non-null    int64
 4   diastolic_BP    767 non-null    object
 5   triceps_thk     767 non-null    object
 6   2_hr_insulin    767 non-null    object
 7   bmi             767 non-null    object
 8   pedigree        767 non-null    object
 9   age             767 non-null    object
 10  nan             1 non-null      object
 11  nan             3 non-null      object
 12  nan             3 non-null      object
 13  nan             4 non-null      object
 14  nan             2 non-null      object
 15  nan             2 non-null      object
dtypes: int64(2), object(14)
memory usage: 96.0+ KB

In [113]:
data.loc[data['glucose_conc'] > 100, 'prediction'] = 1

In [114]:
data.head()

3,diabetes,times_pregnant,glucose_conc,prediction,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,NaN,NaN,NaN,NaN,NaN,NaN
0,0,1,85,0,66,29,0,26.6,0.351,31,Person2,NaN,NaN,NaN,NaN,NaN
1,1,8,183,1,64,0,0,23.3,0.672,32,NaN,NaN,51,NaN,NaN,NaN
2,0,1,89,0,66,23,94,28.1,0.167,21,NaN,Target(y/n),NaN,NaN,NaN,NaN
3,1,0,137,1,40,35,168,43.1,2.288,33,NaN,Y,Supervised,Discrete (Y/N,NaN,NaN
4,0,5,116,1,74,0,0,25.6,0.201,30,NaN,NaN,NaN,NaN,Y,Classification

##### Part - 3
Write the content of the 'Diabetes.csv' file along with 'prediction' values into a new file named 'Diabetes-with-predictions.csv'

In [115]:
data.to_csv('./newDiabetes.csv', index = False)

### *BONUS* Challenge: Diabetes
- From the above file, find the min and max age.
- Create six intervals based on age (e.g. 11 to 20, 21 to 30 etc.) including both min and max age found earlier.
- For each age interval compute the average 'glucose_conc'.
- Write your computed data into a new file named 'average_glucose_by_age.csv'. This file should have two columns 'age_interval' and 'avg_glucose_conc'